<!-- Navbar -->
<header class="bg-gray-100 shadow-xl sticky top-0 z-50 mb-4">
  <div class="container m-auto flex items-center justify-between p-6">
    <!-- Title -->
    <h1 class="text-3xl font-bold">COgnify</h1>

    <!-- Centered Navbar links -->
    <nav class="flex justify-center space-x-6">
      <a href="home.html" class="hover:text-blue-800 hover:underline">Home</a>
      <a href="chatroom.html" class="hover:text-blue-800 hover:underline">Chatroom</a>
      <a href="dataroom.html" class="hover:text-blue-800 hover:underline">Dataroom</a>
    </nav>

    <!-- Rightmost Navbar links -->
    <nav class="flex justify-center space-x-6">
      <a href="../components/data-req_notif.html" class="hover:text-blue-800 flex space-x-2">
        <span>Requests</span>
        <i class="fa-regular fa-bell text-lg"></i>
      </a>
      
      </a>
      <a href="profile.html" class="hover:text-blue-800 flex space-x-2">
        <!-- Default Profile Icon inside a Circle, would make it dynamic and update the user pfp later using js -->
        <span>Profile</span>
        <div class="w-7 h-7 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden">
          <i class="fa-solid fa-user text-base"></i>
        </div>
      </a>
    </nav>
  </div>
</header>